[submodule "code/cpp-extract-features/PcapPlusPlus"]
	path = code/cpp-extract-features/PcapPlusPlus
	url = https://github.com/seladb/PcapPlusPlus.git
[submodule "data/MQTTset-reduced"]
	path = data/MQTTset-reduced
	url = https://github.com/l-laura/MQTTset-reduced
