pandas
pytest
black
scikit-learn==1.2.2
jinja2
numpy
packaging
xarray
Cython

# Scapy + optional dependencies
--pre scapy[basic]
matplotlib
pyx
cryptography

# InfluxDB for data storage
influxdb-client