{
    "DATA_SOURCES": [
        {
            "type": "interface",
            "loader": {
                "class": "PacketSniffer",
                "kwargs": {
                    "tcpdump_options": [
                        "-c", "10000000", "-G", "60", "-w", "/pcap/packets-%F-%T.pcap",
                        "\"dst port ${DESTINATION_PORT}\"", "-i", "any", "-Z", "root"
                    ]
                }
            },
            "preprocessors": [
                "CppPacketProcessor"
            ]
        }
    ],
    "MODELS": [
        {
            "class": "RandomForestAD",
            "use_existing_model": false,
            "skip_saving_model": false,
            "model_name": "{{ timestamp() }}-test-rf",
            "encoder": "DefaultEncoder",
            "features": [
                "TODO only for models to be trained. Should support feature selection",
                "modules instead of hardcoding. After training, save the feature lists",
                "and validate that the set is available when starting prediction."
            ]
        },
        {
            "class": "RandomForestAD",
            "model_name": "{{ timestamp() }}-test-rf",
            "use_existing_model": true
        }
    ],
    "OUTPUT": [
        {
            "type": "InfluxDBReporter",
            "influx-url": "",
            "influx-org": "",
            "influx-bucket": "",
            "influx-token": ""
        }
    ],
    "CPP_FEATURE_EXTRACTOR": "{{ project_root() }}/cmake-build-debug/pcap-feature-extraction",
    "MODEL_STORAGE_BASE_PATH": "{{ project_root() }}/models",
    "VERSION": "{{ git_tag() }}"
}