{
    "DATA_SOURCES": [
        {
            "type": "dataset",
            "loader": {
                "class": "PcapFileLoader",
                "kwargs": {
                    "filepath": "{{ project_root }}/data/MQTTset/Data/PCAP/slowite.pcap",
                    "preprocessor_path": "{{ project_root }}/cmake-build-debug/pcap-feature-extraction"
                }
            },
            "preprocessors": [
                {
                    "class": "FileLabelProcessor",
                    "kwargs": {
                        "label_value": 1
                    }
                },
                {
                    "class": "CppPacketProcessor",
                    "kwargs": {}
                }
            ]
        }
    ],
    "MODEL":
        {
            "class": "RandomForestModel",
            "use_existing_model": true,
            "skip_saving_model": true,
            "model_name": "2023-03-23-22:12:04-test-rf",
            "model_storage_base_path": "{{ project_root }}/models",
            "model_relative_path": "2023-03-23-22:12:04-test-rf/2023-03-23-22:12:04-test-rf.pickle",
            "encoder":
            {
                "class": "DefaultEncoder",
                "kwargs": {
                    "feature_filter": [
                        "ground_truth",
                        "ip_size",
                        "tcp_cwr",
                        "tcp_ece",
                        "tcp_urg",
                        "tcp_ack",
                        "tcp_psh",
                        "tcp_rst",
                        "tcp_syn",
                        "tcp_fin"
                    ]
                }
            }
        },
    "OUTPUT": [
        {
            "class": "InfluxDBReporter",
            "influx_url": "http://localhost:8086",
            "influx_org": "default",
            "influx_bucket": "default",
            "influx_token": "{{ influx_token }}",
            "measurement_name": "mqttset_slowite"
        }
    ],
    "CPP_FEATURE_EXTRACTOR": "{{ project_root }}/cmake-build-debug/pcap-feature-extraction",
    "VERSION": "{{ git_tag }}"
}