{
    "DESCRIPTION": [
        ""
    ],
    "DATA_SOURCES": [
        {
            "loader": {
                "class": "PcapFileLoader",
                "kwargs": {
                    "filepath": "{{ project_root }}/data/MQTTset/Data/PCAP/capture_custom_1h.pcap",
                    "packet_processor_path": "{{ project_root }}/code/cpp-extract-features/cmake-build/pcap-feature-extraction"
                }
            },
            "preprocessors": [
                {
                    "class": "CppPacketProcessor",
                    "kwargs": {}
                },
                {
                    "class": "FlowFeatureProcessor",
                    "kwargs": {}
                }
            ]
        }
    ],
    "MODEL":
    {
        "class": "MLPAutoEncoderModel",
        "train_new_model": true,
        "skip_saving_model": false,
        "model_name": "flow-multi-ae",
        "model_storage_base_path": "{{ project_root }}/models",
        "encoder":
        {
            "class": "MultiSampleEncoder",
            "kwargs": {
                "feature_filter": [
                    "flow_pkt_count",
                    "flow_sum_pkt_size",
                    "flow_avg_pkt_size",
                    "flow_inter_arrival_avg",
                    "flow_inter_arrival_last"
                ]
            }
        }
    },
    "OUTPUT": [
        {
            "class": "DistanceReporter",
            "kwargs": {}
        }
    ],
    "LOG": [
        {
            "level": "DEBUG",
            "path": "{{ project_root }}/logs/{{ config_file_name }}/{{ timestamp }}-training-log.txt"
        }
    ],
    "VERSION": "{{ git_tag }}"
}