{
    "DESCRIPTION": [
        "Train a packet-based random forest classifier. slowite and malariaDoS ",
        "attack data from MQTTset is labeled as 1 and a segment from MQTTset's ",
        "benign traffic as 0. Uses packet size and TCP flags as features."
    ],
    "DATA_SOURCES": [
        {
            "type": "dataset",
            "loader": {
                "class": "PcapFileLoader",
                "kwargs": {
                    "filepath": "{{ project_root }}/data/MQTTset/Data/PCAP/slowite.pcap",
                    "preprocessor_path": "{{ project_root }}/cmake-build-debug/pcap-feature-extraction"
                }
            },
            "preprocessors": [
                {
                    "class": "CppPacketProcessor",
                    "kwargs": {}
                },
                {
                    "class": "HostFeatureProcessor",
                    "kwargs": {}
                },
                {
                    "class": "FileLabelProcessor",
                    "kwargs": {
                        "label_value": 1
                    }
                }
            ]
        },
        {
            "type": "dataset",
            "loader": {
                "class": "PcapFileLoader",
                "kwargs": {
                    "filepath": "{{ project_root }}/data/MQTTset/Data/PCAP/capture_malariaDoS.pcap",
                    "preprocessor_path": "{{ project_root }}/cmake-build-debug/pcap-feature-extraction"
                }
            },
            "preprocessors": [
                {
                    "class": "CppPacketProcessor",
                    "kwargs": {}
                },
                {
                    "class": "HostFeatureProcessor",
                    "kwargs": {}
                },
                {
                    "class": "FileLabelProcessor",
                    "kwargs": {
                        "label_value": 1
                    }
                }
            ]
        },
        {
            "type": "dataset",
            "loader": {
                "class": "PcapFileLoader",
                "kwargs": {
                    "filepath": "{{ project_root }}/data/MQTTset/Data/PCAP/capture_custom_1h.pcap",
                    "preprocessor_path": "{{ project_root }}/cmake-build-debug/pcap-feature-extraction"
                }
            },
            "preprocessors": [
                {
                    "class": "CppPacketProcessor",
                    "kwargs": {}
                },
                {
                    "class": "HostFeatureProcessor",
                    "kwargs": {}
                },
                {
                    "class": "FileLabelProcessor",
                    "kwargs": {
                        "label_value": 0
                    }
                }
            ]
        }
    ],
    "MODEL":
        {
            "class": "RandomForestModel",
            "train_new_model": true,
            "skip_saving_model": false,
            "model_name": "example-packet-based-rf",
            "model_storage_base_path": "{{ project_root }}/models",
            "encoder":
            {
                "class": "DefaultEncoder",
                "kwargs": {
                    "feature_filter": [
                        "ground_truth",
                        "ip_size",
                        "tcp_cwr",
                        "tcp_ece",
                        "tcp_urg",
                        "tcp_ack",
                        "tcp_psh",
                        "tcp_rst",
                        "tcp_syn",
                        "tcp_fin"
                    ]
                }
            }
        },
    "CPP_FEATURE_EXTRACTOR": "{{ project_root }}/cmake-build-debug/pcap-feature-extraction",
    "VERSION": "{{ git_tag }}"
}